.loginDesign {
    height: 92vh;
    width: 100vw;

    background-color: rgba(69, 112, 83, 0.887);
    
   
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}