.homeDesign {
    min-height: 92vh;
    width: 100vw;
    background-color: rgb(41, 49, 52)
    ;

}
.containerImg{
    width: 50em;
    height: 50em;
    background-image: url("../../../img/logo-2018.jpg")
}