
.ButtonDesign {
    height: 2.5em;
    width: 10em;
    padding: 5px;
    margin: 2em;
    border-radius: 0.5em;
    color:rgb(208, 213, 188);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(127, 60, 61) ;
    font-size: 15px;
    font-family: poppins;
    opacity: 0.8;
}

.ButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
     
}