.card {
    width: 400px;
    height: 650px;
    box-sizing: border-box;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.card > h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.card > img {
    width: 350px;
}
