.card {
    width: 400px;
    height: 450px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(213, 188, 188, 0.9);
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.8);
}

.card > h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    
}

.card > img {
    width: 350px;
    aspect-ratio: 16/9;
    border-radius: 15px;
    opacity: 1;
}

.card > img:hover {
    opacity: 0.5;
}