






.servicesCard{
    background-color: brown;
    height: 30em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.8);
    border-radius: 10px;
}