.headerDesign {
    box-sizing: border-box;
    height: 8vh;
    padding: 15px;
    background-color: rgb(19, 24, 25);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header-logout {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
}

.header-logout:hover {
    cursor: pointer;
}