.myAppointmentsDesign {
    min-height: 92vh;
    width: 100vw;
    background-color: rgba(244, 236, 236, 0.887);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.imgMyappointment {
    background-image: url("../../../img/logo-2018.jpg");
    background-size: cover;
    height: 40em;
    width: 40em;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.8);
    border-radius: 10px;
}

.tableAppointments {
    height: 40em;
    width: 40em;
    box-shadow: 0 0 15px rgba(8, 8, 8, 0.8);
    gap: 5em;
    background-color: rgba(244, 236, 236, 0.887);
   
  
}
.tableAppo {
     margin-top:6em;
     margin-bottom: 3em;

}
/* .cYgWVI {
    background-color: rgb(94, 0, 0);
    color: rgb(236, 252, 246);
    font-size: 1.5em;
  }
  .kaPjvb {
    background-color: rgb(94, 0, 0);
  }
  .bdUBmV {
    background-color: rgb(36, 36, 36);
    font-size: 1em;
    color: rgb(236, 252, 246);
  }
  .rdt_TableCell {
    background-color: rgb(36, 36, 36);
  } */