#root {
  min-width: 100vh;
  margin:0;
  padding:0;
  text-align: center;
 font-family: 'Poppins', sans-serif;
 background-color: rgba(244, 236, 236, 0.887)

}

/* body {
  margin: 0;
  
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
